<div id="app-wrapper">
  <div id="header">
    <h1 class="animate-character">WeatherMe</h1>
    <mat-slide-toggle (click)="toggleDarkTheme()" id="darkTheme">
      <label>
        Dark Theme
      </label>
    </mat-slide-toggle>
  </div>

  <div id="loader">
    <mat-progress-bar *ngIf="displayLoading" mode="indeterminate"></mat-progress-bar>
  </div>

  <div id="main-content">
    <div id="sidenav-container" class="dark" appToggleColor>

      <div class="link-wrapper">
        <mat-icon>search</mat-icon>
        <p routerLink="/search">Search</p>
      </div>

      <mat-slide-toggle id="slide-toggle" (click)="changeTemperatureUnit()">
        <label>
          Temperature in Fahrenheit
        </label>
      </mat-slide-toggle>
    </div>

    <div id="content-wrapper" class="dark" appToggleColor>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>