* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  #header {
    width: 100%;
    padding: 10px 20px;
    background-color: #333;

    #darkTheme {
      position: absolute;
      right: 0;
      margin-right: 10px;
    }
  }

  #loader {
    position: absolute;
    width: 100%;
  }

  #main-content {
    display: flex;
    width: 100%;
    flex: 1;

    #sidenav-container {
      padding: 20px;
      box-sizing: border-box;
      overflow-y: auto;

      h1.animate-character {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
      }

      .link-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        p {
          color: black;
          font-size: 18px;
          margin: 0;
          padding-left: 10px;
          cursor: pointer;
        }

        mat-icon {
          width: 20px;
          height: 20px;
        }
      }

      #slide-toggle {
        margin-bottom: 10px;

        label {
          font-size: 13px;
        }
      }
    }

    #content-wrapper {
      flex: 1;
      margin: 20px;
      padding: 30px;
      border-radius: 10px;
      overflow-y: auto;
    }

    @media only screen and (max-width: 782px) {
      #content-wrapper {
        padding: 30px;
      }
    }
  }
}

.animate-character {
  background-image: linear-gradient(
    -225deg,
    #424242 0%,
    #44107a 29%,
    #87e48c 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textClip 2s linear infinite;
  display: inline-block;
}

@keyframes textClip {
  to {
    background-position: 200% center;
  }
}
