<div id="app-wrapper">
  <div id="loader"><mat-progress-bar *ngIf="displayLoading" mode="indeterminate"></mat-progress-bar></div>

  <div id="sidenav-container">
    <h1>WeatherMe</h1>

    <div class="link-wrapper"><mat-icon>search</mat-icon>
      
      <p routerLink="/search">Search</p>
    </div>

    <div class="link-wrapper" mat-button><mat-icon>favorite</mat-icon>
      
      <p routerLink="/favorites">Favorites</p>
    </div>

    
    
  </div>

  <div id="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>




